{{ if .Params.coverimage }}
  <div class="post-header-cover
              {{ if .Params.metaalignment }}text-{{ .Params.metaalignment }}{{ else }}text-left{{ end }}
              {{ with .Params.coversize }}post-header-cover--{{ . }}{{ end }}"
       style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('{{ .Params.coverimage }}'); background-size: cover"
       data-behavior="{{ $.Scratch.Get "sidebarBehavior" }}">
    {{ if or (eq .Params.covermeta "in") (not .Params.covermeta) }}
      {{ partial "post/header.html" . }}
    {{ end }}
  </div>
{{ end }}
